@charset "utf-8";

/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
body{ background:#fff; min-width:320px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all; font-size:15px;}
body,input,select,textarea,button,pre {border:none; font-size:15px; font-family: 'Noto Sans KR', sans-serif; color:#222428; font-weight: 400; line-height:1.2; letter-spacing:-0.06em}
body * { box-sizing: border-box; }
body *::before {box-sizing: border-box;}
body.fixed{overflow-y: hidden;}
ul,ol,li{list-style:none;}
table{ border-spacing:0; }
img,fieldset{border:0;}
address,cite,code{font-style:normal;font-weight:normal;}
em { font-style:normal; }
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,legend{overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{text-decoration:none;}
a {color:inherit;}
button { cursor: pointer; color: #242e47; background-color: transparent;} /* outline: none; */
caption {padding: 0; margin: 0; font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px;}
pre{font-size: 16px; letter-spacing: -.8px;}
/* Form */
textarea { border:1px solid rgba(0, 0, 0, 0.25);}
select { padding-left: 12px; height:44px; }
input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea,.inp {font-size:15px;color:#242e47;border:1px solid #d3d3d3;background-color:#fff;transition: all 0.5s;box-sizing: border-box;vertical-align:middle;}
input[type=email],
input[type=number],
input[type=password],
input[type=text] {padding:0; padding-left:12px; height: 44px;}
input::-webkit-input-placeholder{color:rgba(36, 46, 71, 0.4); font-size:15px; line-height:100%;}
textarea {padding:12px; resize: none;}
textarea::placeholder {color:rgba(36, 46, 71, 0.4);}


.pretendard {font-family: 'Pretendard', 'Noto Sans KR', sans-serif; letter-spacing:0;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

*,
*:focus {outline:none !important;}


button,select, textarea, input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="date"], input[type="datetime"], input[type="email"], input[type="tel"],input[type="submit"] {
	-webkit-border-radius:0;
	border-radius: 0px; /* iOS 둥근모서리 제거 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

input[disabled] {background:#F9FAFC;}

textarea,
input[type="text"],
input[type="password"],
select {width:100%; height:44px; border:1px solid #e2e2e2;}
select::-ms-expand {display: none;}
select{
	font-size:15px;
	background: #fff url('../images/board/icon_sel_arr.png') right 10px center no-repeat !important;
	background-size: auto  !important;

}

img {max-width:100%;}

.swiper-button-prev::after,
.swiper-button-next::after {display:none;}

/* 본문 바로가기 */
#skipnavigation a {position:absolute;left:-3000%;}
#skipnavigation a:focus {display:block;left:0;top:0;z-index:10000000000;width:100%;height:30px;line-height:30px;background:#3290ff;color:#fff;text-align:center;}

.sr_only {position: absolute; width: 1px; height: 1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;}



/* 인풋 스타일 */

.checkbox {display:inline-block; margin-right:20px; position:relative; padding:5px 0; text-align:left; line-height:20px; cursor:pointer;}
.checkbox input {position:absolute; left:0; top:50%; width:20px; height:20px; margin-top:-10px; opacity:0; appearance:none; -webkit-appearance:none; -moz-appearance:none; outline:0;cursor:pointer;}
.checkbox label {display:inline-block; position:relative; padding-left:27px; font-size:15px; color:#222428; cursor:pointer;}
.checkbox label::before {position:absolute; top:50%; left:0; width:20px; height:20px; margin-top:-10px; border:1px solid #707070; background:no-repeat center #fff; content:'';}
.checkbox input:checked + label:before {background-image:url('../images/board/icon_checkbox.png');}
.checkbox input:focus + label:before {outline:1px dotted #000}
.checkbox.t_none {margin-right:0;}
.checkbox.t_none label {padding-left:20px;}

.checkbox.type02 label::before {border:0; background-image:url('../images/board/icon_checkbox02.png');}
.checkbox.type02 input:checked + label:before {background-image:url('../images/board/icon_checkbox02_on.png');}

.radio {display:inline-block; margin-right:20px; padding:5px 0; position:relative; text-align:left; line-height:20px; cursor:pointer;}
.radio input {position:absolute; left:0; top:50%; width:18px; height:18px; margin-top:-9px; opacity:0; appearance:none; -webkit-appearance:none; -moz-appearance:none; outline:0; cursor:pointer;}
.radio label {display:inline-block; position:relative; padding-left:27px; font-size:15px; color:#222428; cursor:pointer;}
.radio label::before {position:absolute; top:50%; left:0; width:18px; height:18px; margin-top:-9px; border-radius:100%; border:1px solid #c8cbd1; background:#fff; content:'';}
.radio input:checked + label:after {position:absolute; top:50%; left:5px; width:8px; height:8px; margin-top:-4px; border-radius:100%; background:#0087E6; content:'';}
.radio input:focus + label:before {outline:1px dotted #000}

.filebox_list li+li {margin-top:10px;}
.filebox {position:relative; height:40px; padding-right:124px;}
.filebox label {position:absolute; top:0; right:0; width:117px; height:40px; border:1px solid #d3d3d3; font-size:15px; color:#585858; text-align:center; line-height:38px; text-align:center; background:#f8f8f8;}
.filebox input[type="file"] {position: absolute; top:0px; left:0; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
/* .filebox .upload_name {} */


/* common */

/* text 말줄임표 */
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}

/* 정렬방식 */
.left { float: left; }
.right { float: right; }

/* text-align */
.text_left { text-align: left !important; }
.text_center { text-align: center !important; }
.text_right { text-align: right !important; }
.verMiddle {position: relative; top:50%; transform: translateY(-50%);}

/* display */
.dis_inblock { display: inline-block; }
.dis_block { display: block; }
.dis_flex {display: -ms-flexbox!important; display: flex!important;}

/* vertical */
.ver_mid { vertical-align: middle; }
.ver_top { vertical-align: text-top; }

/* 가로사이즈 */


/* margin, padding */
.mt_t01 {margin-top:20px;}
.mt_30 {margin-top:30px;}
.section_mt {margin-top:40px;}



/* 버튼 스타일 */


/* 폰트컬러 */
.fc_default {color:#222428 !important;}
.fc_wine {color:#b72755 !important}
.fc_red {color:#D82744 !important}
.fc_blue {color:#0087E6 !important}
.fc_gray {color:#7d7d7d !important}
/* background-color */



/* 배경색 */


/* font weight */





.wow {visibility: hidden;}
.load .wow {visibility: visible;}


/* 스크롤 스타일 */
.scroll { overflow: auto; }
.scroll::-webkit-scrollbar { width: 6px; height: 6px;}
.scroll::-webkit-scrollbar-thumb { background-color: #cdcdcd; border-radius: 100px; }
.scroll::-webkit-scrollbar-track { background-color: #e5e5e5; border-radius: 100px; background-clip: padding-box; border: 3px solid transparent; }

#wrap {overflow:hidden;}

#header {position:fixed; top:0; left:0; z-index:1000; width:100%; min-width:1500px; height:90px; transition:all 0.4s;}
#header::before {position:absolute; top:89px; left:0; width:100%; z-index:2; height:1px; background:rgba(255,255,255,0.3); content:''; transition:background 0.4s;}
.logo {position:absolute; top:30px; left:72px;}
.logo a {display:block; width:138px; height:29px; background:url('../images/common/t_logo.png') no-repeat center; transform: color 0.4s;}
#header.fixed_top .logo a, #header.open .logo a{background:url('../images/common/t_logo_on.png') no-repeat center;}
#header .gnb_list {position:absolute; top:0; left:280px; z-index:2; height:90px; letter-spacing:-0.03em;}
#header .gnb_list > li {float:left; margin-right:60px;}
#header .gnb_list > li > a {display:block; position:relative; font-size:20px; color:#fff; font-weight:500; line-height:90px; transition:color 0.4s;}
#header .gnb_list > li > a::after {position:absolute; left:50%; right:50%; bottom:1px; height:2px; opacity:0; background:#fff; content:''; transition:all 0.4s;}
#header .gnb_list .sub {display:none; position:absolute; top:90px; left:0; right:-300px; overflow:hidden;}
#header .gnb_list > li:nth-child(5) .sub {left:100px;}
#header .gnb_list .sub li {float:left; margin-right:45px;}
#header .gnb_list .sub a {display:block; font-size:18px; color:#272727; line-height:80px;}
#header .gnb_list > li.on .sub {display:block;}
#header .gnb_list > li.active > a::after {left:0; right:0; opacity:1;}
#header .gnb_list > li.on > a::after {left:0; right:0; opacity:1; background:#141414;}
#header.open {overflow:hidden; height:90px; background:#fff;}
#header.open::before {background:#e7e7e7;}
#header.open .logo a {background-image:url('../images/common/t_logo_on.png')}
#header.open .gnb_list > li > a {color:#141414;}
#header.open .gnb_list > li.active > a::after {left:50%; right:50%; opacity:0;}

#header.open.htype {height:170px;}
#header.open .top_util a {color:#272727;}
#header.open .top_util li+li::before {background:#d4d4d4;}
/* #header.open .top_util li:last-child a {background-image:url('../images/common/icon_location_on.png')} */
#header.open .btn_menu_open {background-image:url('../images/common/icon_menu_on.png');}
#header.roll {transform:translateY(-100%);}
#header.spread {transform:translateY(0%);}
/*#header.fullpage {background: #fff;}*/
.top_util {position:absolute; top:30px; right:125px; z-index:10;}
.top_util > li {float:left; position:relative; padding:0 18px;}
.top_util > li+li::before {position:absolute; top:50%; left:0; width:1px; height:12px; margin-top:-6px; background:rgba(255,255,255,0.2); content:''; transition:background 0.4s;}
.top_util > li > a {display:block; font-size:15px; color:#fff; line-height:30px; transition:color 0.4s;}
/* .top_util > li:last-child > a {padding-right:21px; background:url('../images/common/icon_location.png') no-repeat right center;} */
.top_util > li .sub {display:none; position:absolute; top:30px; left:50%; width:160px; margin-left:-80px;}
.top_util > li .sub ul {position:relative; margin-top:12px; padding:12px 0 12px 30px; border:1px solid #ccc; background:#fff;}
/*.top_util > li .sub ul::before {display: block; position: absolute; top:-6px; left:50%; width: 10px; height: 10px; background: #FFFFFF; border-right:1px solid #000000; border-bottom:1px solid #000000; transform:rotate(-135deg); content:'';}*/
.top_util > li .sub a {display:block; font-size:14px; color:#141414; line-height:25px;}
.btn_menu_open {position:absolute; right:80px; top:37px; width:21px; height:16px; background:url('../images/common/icon_menu.png') no-repeat center;}

#header.fixed_top {background:#fff;}
#header.fixed_top::before {background:#e7e7e7;}
#header.fixed_top .logo a {background-image:url('../images/common/t_logo_on.png')}
#header.fixed_top .gnb_list > li > a {color:#141414;}
#header.fixed_top .top_util > li > a {color:#272727;}
#header.fixed_top .top_util > li+li::before {background:#d4d4d4;}
#header.fixed_top .gnb_list > li.active > a::after,
#header.fixed_top .gnb_list > li.on > a::after {background:#141414;}
/* #header.fixed_top .top_util > li:last-child a {background-image:url('../images/common/icon_location_on.png')} */
#header.fixed_top .btn_menu_open {background-image:url('../images/common/icon_menu_on.png');}

#header.member {background:#fff;}
#header.member::before {background:#e7e7e7;}
#header.member .logo a {background-image:url('../images/common/t_logo_on.png')}
#header.member .gnb_list > li > a {color:#141414;}
#header.member .top_util > li > a {color:#272727;}
#header.member .top_util > li+li::before {background:#d4d4d4;}
/* #header.member .top_util > li:last-child a {background-image:url('../images/common/icon_location_on.png')} */
#header.member .btn_menu_open {background-image:url('../images/common/icon_menu_on.png');}

@media all and (max-width:1600px){
	.logo {left:42px;}
	#header .gnb_list {left:230px;}

	.top_util {right:100px;}
	.btn_menu_open {right:50px;}
}



@media all and (max-width:1600px){
}








/* 퀵메뉴 */
.quick_container {position:fixed; right:0; bottom:0; z-index:11;}
.quick_container .quick_open {position:absolute; width:90px; height:90px; right:70px; bottom:240px; opacity:0; pointer-events:none;}
.quick_container .quick_open.on {opacity:1; pointer-events:all; transition:all 0.3s ease;}
.quick_container .quick_open .btn_open {position:absolute; width:100%; height:100%; left:0; top:0; border:1px solid #e7e7e7; border-radius:50%; background:url(../images/main/quick_btn_open.png) 50% 50% no-repeat #fff;}
.quick_container .quick_open .box {display:block; position:absolute; padding:20px 25px; background:#907141; opacity: 0.9; left:-280px; top:13px; border-radius:8px; white-space:nowrap; -webkit-animation:bounce 2s linear infinite; animation:bounce 2s linear infinite;}
.quick_container .quick_open .box::after {content:''; position:absolute; width:12px; height:24px; background:url(../images/main/quick_box_triangle.png); right:-12px; top:50%; margin-top:-12px;}
.quick_container .quick_open .box .btn_close_info {display:block; position:absolute; width:22px; height:22px; background:url(../images/main/quick_btn_close.png); left:-11px; top:-11px;}
.quick_container .quick_list {position:absolute; width:100px; max-height:0; right:60px; bottom:240px; background:#fff; border-radius:50px; text-align:center; overflow:hidden; opacity:0;}
.quick_container .quick_list.on {max-height:590px; border:1px solid #141414; opacity:1; border-radius:50px; transition:all 0.4s ease;}
.quick_container .quick_list .top {display:block;margin: 0 auto;  width:80%; height:90px; background:url(../images/main/quick_title.jpg) 50% 60% no-repeat; border-bottom:1px solid #141414;}
.quick_container .quick_list li {margin-top:20px;}
.quick_container .quick_list li:first-child {margin-top:30px;}
.quick_container .quick_list li .icon {position:relative; width:50px; height:50px; border-radius:50%; margin:0 auto; overflow:hidden;}
.quick_container .quick_list li .icon.reserve {background:url(../images/main/quick_btn_reserv.png) 50% 50% no-repeat #000;}
.quick_container .quick_list li .icon.review {background:url(../images/main/quick_btn_review.png) 50% 50% no-repeat #000;}
.quick_container .quick_list li .icon.clinic {background:url(../images/main/quick_btn_branch.png) 50% 50% no-repeat #000;}
.quick_container .quick_list li .icon.kakao {background:url(../images/main/quick_btn_kakao.png) 50% 50% no-repeat #000;}
.quick_container .quick_list li a span {display:inline-block; padding-top:5px;}
.quick_container .quick_list .btn_close_quick {position:relative; width:100%; height:60px; margin-top:20px; background:url(../images/main/quick_btn_close_all.png) 50% 35% no-repeat;}


/* css 애니메이션 정의 */
@-webkit-keyframes scalePannel{
	from {
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scalePannel{
	from {
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes arrowNext{
	50% {
		left: 100%;
	}
	51% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}

@keyframes arrowNext{
	50% {
		left: 100%;
	}
	51% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}

@-webkit-keyframes arrowNextT{
	50% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	51% {
		-webkit-transform: translateX(-80px);
		transform: translateX(-80px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes arrowNextT{
	50% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	51% {
		-webkit-transform: translateX(-80px);
		transform: translateX(-80px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes arrowPrevT{
	50% {
		-webkit-transform: translateX(-80px);
		transform: translateX(-80px);
	}
	51% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes arrowPrevT{
	50% {
		-webkit-transform: translateX(-80px);
		transform: translateX(-80px);
	}
	51% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes scrollLine{
	0% {
		-webkit-transform: translateY(-45px);
		transform: translateY(-45px);
	}
	100% {
		-webkit-transform: translateY(125px);
		transform: translateY(125px);
	}
}

@keyframes scrollLine{
	0% {
		-webkit-transform: translateY(-45px);
		transform: translateY(-45px);
	}
	100% {
		-webkit-transform: translateY(125px);
		transform: translateY(125px);
	}
}

@-webkit-keyframes arrowNextL{
	50% {
		-webkit-transform: translateX(36.5px);
		transform: translateX(36.5px);
		opacity: 0;
	}
	51% {
		-webkit-transform: translateX(-36.5px);
		transform: translateX(-36.5px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes arrowNextL{
	50% {
		-webkit-transform: translateX(36.5px);
		transform: translateX(36.5px);
		opacity: 0;
	}
	51% {
		-webkit-transform: translateX(-36.5px);
		transform: translateX(-36.5px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes flowText{
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@keyframes flowText{
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@keyframes bounce{
	25% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
	50% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	75% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}


/* 레이아웃, 사이즈 정의 */
.csize01 {  position:relative;}

.f_left {float:left;}
.f_right {float:right;}
.rela {position:relative;}
.absol {position:absolute; left:0; top:0;}
.overh {overflow:hidden !important;}


/* 기본 유틸리티 */
.mt_10 {margin-top:10px !important;}
.mt_20 {margin-top:20px !important;}
.mt_30 {margin-top:30px !important;}
.mt_40 {margin-top:40px !important;}
.mt_50 {margin-top:50px !important;}
.mt_60 {margin-top:60px !important;}
.mt_70 {margin-top:70px !important;}
.mt_80 {margin-top:80px !important;}
.mt_100 {margin-top:100px !important;}
.pt_40 {padding-top:40px !important;}
.pt_50 {padding-top:50px !important;}
.pt_70 {padding-top:70px !important;}
.pt_80 {padding-top:80px !important;}
.section_pt {padding-top:100px !important;}
.section_pb {padding-bottom:100px !important;}
.section_pd {padding-top:100px !important; padding-bottom:100px !important;}
.t_line {border-top:1px solid #d7d7d7;}
.overh {overflow:hidden;}





