@charset "UTF-8";
.new_list{background:#fff; border:1px solid #e6e6e6; table-layout:fixed; transition: all 1s cubic-bezier(0, 0, 0, 1.0) 0s;}
.new_list:hover{-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);}
.new_list thead tr th{padding:14px 0; font-size:14px; background:#98a3a8; color:#fff; text-align:center;}
.new_list tbody tr:hover td{background:#eeeeee;}
.new_list tbody tr td{padding:10px; border-bottom:1px solid #e6e6e6; text-align:center; font-size:14px; transition: all 0.5s cubic-bezier(0, 0, 0, 1.0) 0s;}
.new_list tbody tr td img{max-width:100%;}
.new_list tbody tr td a{color:#212121}
.new_list tbody tr td.none{font-size:20px; height:300px; color:rgba(0,0,0,0.3); font-weight:700; padding-bottom:0; transition: all 1s cubic-bezier(0, 0, 0, 1.0) 0s; }
.new_list tbody tr td.none:hover{color:rgba(0,0,0,0.5);}
.new_list tbody tr:last-child td,
.new_list tbody tr:last-child th{padding-bottom:20px;}
.ui-datepicker{display:none; padding:20px; border:1px solid #000; background:#fff; box-sizing:border-box; margin-top:-1px}
.ui-datepicker .ui-datepicker-header{position:relative; height:28px; margin-bottom:16px;}
.ui-datepicker .ui-datepicker-header .ui-corner-all{position:absolute; top:50%; width:23px; height:28px; margin-top:-14px; cursor: pointer; z-index:1}
.ui-datepicker .ui-datepicker-header .ui-corner-all span{position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev{left:0px; background:url(/static/images/btn_datePrev.png) no-repeat 50% 50%;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next{right:0px; background:url(/static/images/btn_dateNext.png) no-repeat 50% 50%;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title{padding:0 23px; text-align:center; font-size:14px; color:#000; line-height:28px;}
.ui-datepicker .ui-datepicker-calendar{border:0; margin-bottom:0}
.ui-datepicker .ui-datepicker-calendar thead tr th,
.ui-datepicker .ui-datepicker-calendar tbody tr td{width:30px; height:32px; vertical-align:middle; text-align:center;}
.ui-datepicker .ui-datepicker-calendar thead tr th{padding-bottom:5px}
.ui-datepicker .ui-datepicker-calendar tbody tr td a{display:inline-block; width:26px; height:26px; line-height:26px; text-align:center; border-radius:100%; background:#fff; transition: background 1s cubic-bezier(0, 0, 0, 1.0) 0s;}
.ui-datepicker .ui-datepicker-calendar tbody tr td:nth-last-child(1) a,
.ui-datepicker .ui-datepicker-calendar thead tr th:nth-last-child(1){color:#008ab0}
.ui-datepicker .ui-datepicker-calendar tbody tr td:first-child a,
.ui-datepicker .ui-datepicker-calendar thead tr th:first-child{color:#f66a5b}
.ui-datepicker .ui-datepicker-calendar tbody tr td a.ui-state-hover{background:#dfe4eb;}
.ui-datepicker .ui-datepicker-calendar tbody tr td a.ui-state-active{color:#fff; background:#9aabc0}
.ui-datepicker .ui-datepicker-calendar tbody tr td a.ui-state-highlight{color:#fff; background:#000}
input.txt.hasDatepicker {padding-right:34px; background:#fff url(/static/images/ico_calendar.png) no-repeat !important; background-position:calc(100% - 10px) 50% !important;}
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('/static/images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('/static/fonts/slick.eot');
    src: url('/static/fonts/slick.eot?#iefix') format('embedded-opentype'), url('/static/fonts/slick.woff') format('woff'), url('/static/fonts/slick.ttf') format('truetype'), url('/static/fonts/slick.svg#slick') format('svg');
}
@media(max-width : 720px){
    /*
        2023.06.13 추가
        한의원에서 bootstrap.css 사용하지 않아서 추가함
    */
    .text-center {text-align: center !important; }
    
    .m-0 {
        margin: 0 !important; }
    
    .mt-0,
    .my-0 {
        margin-top: 0 !important; }
    
    .mr-0,
    .mx-0 {
        margin-right: 0 !important; }
    
    .mb-0,
    .my-0 {
        margin-bottom: 0 !important; }
    
    .ml-0,
    .mx-0 {
        margin-left: 0 !important; }
    
    .m-1 {
        margin: 0.375rem !important; }
    
    .mt-1,
    .my-1 {
        margin-top: 0.375rem !important; }
    
    .mr-1,
    .mx-1 {
        margin-right: 0.375rem !important; }
    
    .mb-1,
    .my-1 {
        margin-bottom: 0.375rem !important; }
    
    .ml-1,
    .mx-1 {
        margin-left: 0.375rem !important; }
    
    .m-2 {
        margin: 0.75rem !important; }
    
    .mt-2,
    .my-2 {
        margin-top: 0.75rem !important; }
    
    .mr-2,
    .mx-2 {
        margin-right: 0.75rem !important; }
    
    .mb-2,
    .my-2 {
        margin-bottom: 0.75rem !important; }
    
    .ml-2,
    .mx-2 {
        margin-left: 0.75rem !important; }
    
    .m-3 {
        margin: 1.5rem !important; }
    
    .mt-3,
    .my-3 {
        margin-top: 1.5rem !important; }
    
    .mr-3,
    .mx-3 {
        margin-right: 1.5rem !important; }
    
    .mb-3,
    .my-3 {
        margin-bottom: 1.5rem !important; }
    
    .ml-3,
    .mx-3 {
        margin-left: 1.5rem !important; }
    
    .m-4 {
        margin: 2.25rem !important; }
    
    .mt-4,
    .my-4 {
        margin-top: 2.25rem !important; }
    
    .mr-4,
    .mx-4 {
        margin-right: 2.25rem !important; }
    
    .mb-4,
    .my-4 {
        margin-bottom: 2.25rem !important; }
    
    .ml-4,
    .mx-4 {
        margin-left: 2.25rem !important; }
    
    .m-5 {
        margin: 4.5rem !important; }
    
    .mt-5,
    .my-5 {
        margin-top: 4.5rem !important; }
    
    .mr-5,
    .mx-5 {
        margin-right: 4.5rem !important; }
    
    .mb-5,
    .my-5 {
        margin-bottom: 4.5rem !important; }
    
    .ml-5,
    .mx-5 {
        margin-left: 4.5rem !important; }
    
    .p-0 {
        padding: 0 !important; }
    
    .pt-0,
    .py-0 {
        padding-top: 0 !important; }
    
    .pr-0,
    .px-0 {
        padding-right: 0 !important; }
    
    .pb-0,
    .py-0 {
        padding-bottom: 0 !important; }
    
    .pl-0,
    .px-0 {
        padding-left: 0 !important; }
    
    .p-1 {
        padding: 0.375rem !important; }
    
    .pt-1,
    .py-1 {
        padding-top: 0.375rem !important; }
    
    .pr-1,
    .px-1 {
        padding-right: 0.375rem !important; }
    
    .pb-1,
    .py-1 {
        padding-bottom: 0.375rem !important; }
    
    .pl-1,
    .px-1 {
        padding-left: 0.375rem !important; }
    
    .p-2 {
        padding: 0.75rem !important; }
    
    .pt-2,
    .py-2 {
        padding-top: 0.75rem !important; }
    
    .pr-2,
    .px-2 {
        padding-right: 0.75rem !important; }
    
    .pb-2,
    .py-2 {
        padding-bottom: 0.75rem !important; }
    
    .pl-2,
    .px-2 {
        padding-left: 0.75rem !important; }
    
    .p-3 {
        padding: 1.5rem !important; }
    
    .pt-3,
    .py-3 {
        padding-top: 1.5rem !important; }
    
    .pr-3,
    .px-3 {
        padding-right: 1.5rem !important; }
    
    .pb-3,
    .py-3 {
        padding-bottom: 1.5rem !important; }
    
    .pl-3,
    .px-3 {
        padding-left: 1.5rem !important; }
    
    .p-4 {
        padding: 2.25rem !important; }
    
    .pt-4,
    .py-4 {
        padding-top: 2.25rem !important; }
    
    .pr-4,
    .px-4 {
        padding-right: 2.25rem !important; }
    
    .pb-4,
    .py-4 {
        padding-bottom: 2.25rem !important; }
    
    .pl-4,
    .px-4 {
        padding-left: 2.25rem !important; }
    
    .p-5 {
        padding: 4.5rem !important; }
    
    .pt-5,
    .py-5 {
        padding-top: 4.5rem !important; }
    
    .pr-5,
    .px-5 {
        padding-right: 4.5rem !important; }
    
    .pb-5,
    .py-5 {
        padding-bottom: 4.5rem !important; }
    
    .pl-5,
    .px-5 {
        padding-left: 4.5rem !important; }
    
    .m-n1 {
        margin: -0.375rem !important; }
    
    .mt-n1,
    .my-n1 {
        margin-top: -0.375rem !important; }
    
    .mr-n1,
    .mx-n1 {
        margin-right: -0.375rem !important; }
    
    .mb-n1,
    .my-n1 {
        margin-bottom: -0.375rem !important; }
    
    .ml-n1,
    .mx-n1 {
        margin-left: -0.375rem !important; }
    
    .m-n2 {
        margin: -0.75rem !important; }
    
    .mt-n2,
    .my-n2 {
        margin-top: -0.75rem !important; }
    
    .mr-n2,
    .mx-n2 {
        margin-right: -0.75rem !important; }
    
    .mb-n2,
    .my-n2 {
        margin-bottom: -0.75rem !important; }
    
    .ml-n2,
    .mx-n2 {
        margin-left: -0.75rem !important; }
    
    .m-n3 {
        margin: -1.5rem !important; }
    
    .mt-n3,
    .my-n3 {
        margin-top: -1.5rem !important; }
    
    .mr-n3,
    .mx-n3 {
        margin-right: -1.5rem !important; }
    
    .mb-n3,
    .my-n3 {
        margin-bottom: -1.5rem !important; }
    
    .ml-n3,
    .mx-n3 {
        margin-left: -1.5rem !important; }
    
    .m-n4 {
        margin: -2.25rem !important; }
    
    .mt-n4,
    .my-n4 {
        margin-top: -2.25rem !important; }
    
    .mr-n4,
    .mx-n4 {
        margin-right: -2.25rem !important; }
    
    .mb-n4,
    .my-n4 {
        margin-bottom: -2.25rem !important; }
    
    .ml-n4,
    .mx-n4 {
        margin-left: -2.25rem !important; }
    
    .m-n5 {
        margin: -4.5rem !important; }
    
    .mt-n5,
    .my-n5 {
        margin-top: -4.5rem !important; }
    
    .mr-n5,
    .mx-n5 {
        margin-right: -4.5rem !important; }
    
    .mb-n5,
    .my-n5 {
        margin-bottom: -4.5rem !important; }
    
    .ml-n5,
    .mx-n5 {
        margin-left: -4.5rem !important; }
        .slick-prev,
.slick-next{
            font-size: 0;
            line-height: 0;
        
            position: absolute;
            top: 50%;
        
            display: none !important;
        
            width: 20px;
            height: 20px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
        
            cursor: pointer;
        
            color: transparent;
            border: none;
            outline: none;
            background: transparent;
        }
        .slick-prev:hover,
        .slick-prev:focus,
        .slick-next:hover,
        .slick-next:focus
        {
            color: transparent;
            outline: none;
            background: transparent;
        }
        .slick-prev:hover:before,
        .slick-prev:focus:before,
        .slick-next:hover:before,
        .slick-next:focus:before
        {
            opacity: 1;
        }
        .slick-prev.slick-disabled:before,
        .slick-next.slick-disabled:before
        {
            opacity: .25;
        }
        
        .slick-prev:before,
        .slick-next:before
        {
            font-family: 'slick';
            font-size: 20px;
            line-height: 1;
        
            opacity: .75;
            color: white;
        
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
        .slick-prev
        {
            left: -25px;
        }
        [dir='rtl'] .slick-prev
        {
            right: -25px;
            left: auto;
        }
        .slick-prev:before
        {
            content: '←';
        }
        [dir='rtl'] .slick-prev:before
        {
            content: '→';
        }
        
        .slick-next
        {
            right: -25px;
        }
        [dir='rtl'] .slick-next
        {
            right: auto;
            left: -25px;
        }
        .slick-next:before
        {
            content: '→';
        }
        [dir='rtl'] .slick-next:before
        {
            content: '←';
        }
        
        /* Dots */
        .slick-dotted.slick-slider
        {
            /*margin-bottom: 30px;*/
        }
        
        .slick-dots
        {
            position: absolute;
            bottom: 39px;
        
            display: block;
        
            width: 100%;
            padding: 0;
            margin: 0;
        
            list-style: none;
        
            text-align: center;
        }
        .slick-dots li
        {
            position: relative;
        
            display: inline-block;
        
            width: 57px;
            height: 4px;
            margin: 0 2.5px;
            padding: 0;
        
            cursor: pointer;
        }
        .slick-dots li button
        {
            font-size: 0;
            line-height: 0;
        
            display: block;
        
            width: 100%;
            height: 100%x;
            padding: 2px;
        
            cursor: pointer;
        
            color: transparent;
            border: 0;
            outline: none;
            background: #fff;
        }
        .slick-dots li button:hover,
        .slick-dots li button:focus
        {
            outline: none;
        }
        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before
        {
            opacity: 1;
        }
        .slick-dots li button:before
        {
            font-family: 'slick';
            font-size: 6px;
            line-height: 20px;
        
            position: absolute;
            top: 0;
            left: 0;
        
            width: 20px;
            height: 20px;
        
        
            text-align: center;
        
            opacity: .25;
            color: black;
        
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .slick-dots li.slick-active button:before
        {
            opacity: .75;
            color: black;
        }
        
        .slick-dots li.slick-active button
        {
            opacity: .75;
            color: black;
            background: #000;
        }
        /* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
}