/* mobile */
@media (max-width:620px) {
	.pcview{
		display: none !important;
	}
	
}
@media (min-width: 1px) and (max-width: 1089px) {

	.fixed-header {display:none;}
	.login{display:block}
	.mpage{display:block;}
	.spage{overflow-x:auto;white-space: nowrap;}
	
}

/* desktop */
@media (min-width: 1090px) {

	.fixed-header {display:block;}
	.login{display:none}
	.mpage{display:none;}


	/* header */
	.fixed-header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.top-line { background:#333333; }
	.fixed-top {
		position: fixed;
		top: 34px;
		right: 0;
		left: 0;
		z-index: 1030;
		
	}


}
body{overflow-x: hidden}  
/* x축에서 화면에 넘치는 내용들을 숨겨준다. */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
.Noto-ko{
	font-family: 'Noto Sans KR', sans-serif;
}



.footer h2{margin:0 0 20px;}


.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-first{
	padding: 50px 0px 50px 20px;
    background: #4c4f6f;
    font-size: 20px;
	color:#fff;
    font-weight: bold;
    border-top: 3px solid #313450;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.carousel-item a{color:#fff;}

/* 네비게이션 수정 */
.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 7px 15px;
    clear: both;
    font-weight: 600;
    color: #888;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}
.dropdown-item:hover {
	background:#f5f5f5;
}

.color-gray{color:#666}
.color-red{color:#ff0000}


.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f16 {font-size: 16px;}
.f17 {font-size: 17px;}
.f18 {font-size: 18px;}
.f19 {font-size: 19px;}
.f20 {font-size: 20px;}

/* pages */
.info-2 i{font-size:20px;}
table th, table td{ font-family: 'S-CoreDream-4Regular';font-size: 14px;}



#bo_v_sns li span{display:none;}
#bo_v_sns {display:none;position:absolute;top:-50px;right:0px;margin-left:-90px;width:180px;padding:0;list-style:none;zoom:1}



#mainBannerswiper .swiper-slide{
	height: 0;
	padding-top: 51%;
	background-size: cover;
}

#mainBannerswiper .swiper-slide .carousel-caption{
	left:0;
	top:0;
	height:100%;
	bottom:0;
	right:0;
	margin: auto !important;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;


}

/* 점박이 */

#mainBannerswiper .swiper-pagination-bullet{
	font-size: 18px;
	border: #666;
	width: auto;
	height: 50px;
	color:rgba(255,255,255,.8);
	border-radius: 0;
	background-color: transparent;
	letter-spacing: -0.06em;
	font-weight: 400;
	opacity: 0.5;
	font-family: 'Noto Sans KR', sans-serif	
}
#mainBannerswiper .swiper-pagination-bullet{
	margin: 0 2rem;
}
#mainBannerswiper .swiper-pagination-bullet:after{
	content: "";
	position: absolute;
	bottom:-2px;
	height:2px;
	background-color: white;
	left:0;
	width:0;
	
}
#mainBannerswiper .swiper-pagination-bullet.swiper-pagination-bullet-active:after{
	width:100%;
	transition: 3s;	/* setInterval 스피드와 동일하게 */
}
/* 불켜진 점박이 */
#mainBannerswiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
	opacity: 1;

}
#mainBannerswiper .swiper-pagination-bullet:first-child,
#mainBannerswiper .swiper-pagination-bullet:last-child{
	margin: 0 !important;
}

.fw{
	font-weight: 400;
}
.fs{font-size: 64px;}


#mainBannerswiper .paginationbox{
	left:0; right:0;
	bottom:5rem;
	
}
#mainBannerswiper .swiper-pagination{
    display: inline-block; /*너비 100% 포기*/
	width: auto;
	position: relative;	
	border-bottom:2px solid rgba(255,255,255,.4)
}

.fa + .sound_only{
	font-size:16px;
	line-height:1;
	width:auto;
	height:auto;
	position:unset;
}






.notice_border{
	border: 1px solid white;
	border-radius: 15px;
	border-left: 1px solid white;
	
}
.border_right{
	border-right: 1px solid #999;
}

#up_down .swiper-button-next{
	background: url(https://www.wwdoctor.com/static/asset/images/main/btn_notice_up.jpg;)	50% 50% no-repeat;
	opacity: 0.5;
	top: 30px;

}

#up_down .swiper-button-prev{
	background: url(https://www.wwdoctor.com/static/asset/images/main/btn_notice_down.jpg) 50% 50% no-repeat;
	opacity: 0.5;
	top: auto;
}

#up_down{
	
}

.radius{
border-radius: 50%;
}

@media (max-width: 1050px) {
	.none{display: none !important;}
	#video_pk{
		
		margin: 0 auto;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;}
		
	}
.container ul{
	position: relative;
}
.container ul li{
	margin: 0px 15px 0px 15px;
	font-size: 16px;
	font-weight: 400;
}
.container ul::after{
	content: "";
	position: absolute;
	width: 76%;
	height: 1px;
	background-color: white;
	top: 28px;
}
/* pk_slide css */

#pk_slide{
	max-width:1920px
}

#pk_slide .wrap{

}

#pk_slide .swiper-slide{

}

.nth1{
	background: url(https://wwdoctor.com/static/mo/asset/images/main/subject_img_01_01.jpg) no-repeat;
	
	
	

}
.nth2{
	background: url(https://wwdoctor.com/static/mo/asset/images/main/subject_img_01_02.jpg) no-repeat;
	
	

	
	

}
.nth3{
	background: url(https://wwdoctor.com/static/mo/asset/images/main/subject_img_01_03.jpg) no-repeat;

	

}
.nth4{
	background: url(https://wwdoctor.com/static/mo/asset/images/main/subject_img_01_04.jpg) no-repeat;

	

}
.nth5{
	background: url(https://wwdoctor.com/static/mo/asset/images/main/subject_img_01_05.jpg) no-repeat;


}
.nth6{
	background: url(https://wwdoctor.com/static/mo/asset/images/main/subject_img_01_06.jpg) no-repeat;
	

}
.nth7{
	background: url(https://i.namu.wiki/i/d1A_wD4kuLHmOOFqJdVlOXVt1TWA9NfNt_HA0CS0Y_N0zayUAX8olMuv7odG2FiDLDQZIRBqbPQwBSArXfEJlQ.webp)
	no-repeat;
	width: 100%;
	height: 100%;
	background-size: contain;
    background-repeat: no-repeat;
	
    background-position: center;
	

}


#pk_slide .swiper-slide .absol{
	width:100%;
	height: 0;
	padding-top: 108%;
	position:relative !important;
	overflow: hidden;
	background-size: 100%;
	max-height: 688px;
}

